// Colors
$darkblue: hsl(233, 26%, 24%);
$limegreen: hsl(136, 65%, 51%);
$brightcyan: hsl(192, 70%, 51%);
$grayishblue: hsl(233, 8%, 62%);
$verylightgray: hsl(0, 0%, 98%);
$lightgrayishblue: hsl(220, 16%, 96%);
$white: hsl(0, 0%, 100%);

//font sizes
$font-sm: 0.875rem;
$font-md: 1.125rem;
$font-lg: 1.25rem;
$font-xlg: 3.25rem;
